.contact{
    background: linear-gradient(
        to right, 
        #ebeaea 0%, 
        #ebeaea 45%, 
        #bcb4ab 45%, 
        #bcb4ab 100%
      );
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    background-color: #ebeaea;
    width: 75%;
    height:80%;
    border: 10px solid white;
}